@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  /* 4. Link the Tailwind 'font-sans' to the Next.js font variable */
  --font-sans: var(--font-montserrat), ui-sans-serif, system-ui, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* 5. Apply it globally */
  font-family: var(--font-sans);
}
html {
  scroll-behavior: smooth;
}
/* globals.css */
.swiper-pagination-bullet {
  background: white;
  opacity: 0.5;
  width: 10px;
  height: 10px;
}
.swiper-pagination-bullet-active {
  background: #FFFFFF !important; 
  opacity: 1;
  width: 24px; /* Makes active dot wider like a pill */
  border-radius: 10px;
  transition: width 0.3s ease;
}